body{
     
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
}


/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height: 80px;
}

.header-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-left img{
    width: 48px;
    height: 56px;
    margin-right: 15px;
}

.header-left h2{
        color: #131318;
        font-size: 36px;
        font-weight: 800;
}

span.cl{
        color: #FF5400;
        font-size: 36px;
        font-weight: 800;
}

.header-right>ul>li{
    display: inline-block;
    margin-left: 20px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

ul li.active{
    color:#FF5400;
    font-weight: 700;
}

ul li:hover{
    color: #FF5400;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/* banner */

.banner {
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.banner-show {
    position: relative;
}

.banner-text {
    text-align: center;
}

.banner-text h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-text p{
    width: 676px;
    margin: 24px auto;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-input {
    display: flex;
    align-items: center;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input {
    margin-bottom: 10px;
    
}

.input input {
    width: 172px;
    height: 52px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;

}
.input .icon{
    position: relative;
    left: -50px;
    color: #adadae;
    width: 24px;
    height: 24px;
}

.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border:none;
}
.input .search{
    position: relative;
    left: 60px;
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

/* Tours */
.tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 550px;
    margin: 100px auto;
}

.left{
    width: 576px;
   height: 550px;
}

.left h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.left p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
        
}
.left li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
}

.left button{
    margin-top: 30px;
}

.right img{
    width: 540px;
    height: 550px;
}

/* choose */

.choose{
    width: 1280px;
    margin: 200px auto;
}

.choose-text{
    text-align: center;
}
.choose-text h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose-text p{
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.choose-img{
    width: 1280px;
    margin: 40px auto;
}

.choose-img .img1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.choose-img .img1 .img11{
    position: relative;
}
.choose-img .img1 .img12{
    position: relative;
}
.choose-img .img2 .img21{
    position: relative;
}
.choose-img .img2 .img22{
    position: relative;
}
.choose-img .img2 .img23{
    position: relative;
}
.choose-img .img3 .img31{
    position: relative;
}
.choose-img .img3 .img32{
    position: relative;
}
.choose-img  img {
    mask-image: linear-gradient(0deg, #c8c8c9 0%, #c8c8c9 100%);
}
.choose-img p{
    position: absolute;
    bottom: 130px;
    left: 42%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .ind{
    position: absolute;
    bottom: 130px;
    left: 42%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .sri{
    position: absolute;
    bottom: 100px;
    left: 36%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .na{
    position: absolute;
    bottom: 100px;
    left: 30%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .kas{
    position: absolute;
    bottom: 100px;
    left: 30%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .bd{
    position: absolute;
    bottom: 100px;
    left: 30%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .ban{
    position: absolute;
    bottom: 110px;
    left: 45%;
    color: wheat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-img .img1 img{
    width: 630px;
}

.choose-img .img2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.choose-img .img2 .img21 img{
    width: 380px;
    height: 286px;
}
.choose-img .img2 .img22 img{
    width: 580px;
    height: 286px;
}
.choose-img .img2 .img23 img{
    width: 280px;
    height: 286px;
}

.choose-img .img3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.choose-img .img3 .img31 img {
    width: 473px;
    height: 300px;
}
.choose-img .img3 .img32 img {
    width: 790px;
    height: 300px;
}

/* why */
.why{
    width: 1280px;
    margin: 100px auto;
}
.why-text{
    text-align: center;
    margin-bottom: 50px;
}
.why-text h2{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 24px;
}
.why-text p{
        color: rgba(19, 19, 24, 0.70);
        width: 643px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}

.why-flex .flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}

.why-flex .flex .flex1{
    padding-left: 32px;
    padding-top: 32px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #f6e8d8;
    background: #fffbf7;
}
.why-flex .flex img{
    width: 64px;
    height: 64px;
}
.why-flex .flex p{
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.why-flex .flex-b h4{
        color: #131318;
        font-size: 24px;
        font-weight: 800;
}
.why-flex .flex h4{
        color: #131318;
        font-size: 24px;
        font-weight: 800;
}
.why-flex .flex-b p{
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.why-flex .flex .flex2{
    padding-left: 32px;
    padding-top: 32px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #ccedf5;
    background:#ccedf5;
}
.why-flex .flex-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-flex .flex-b .flex3{
    margin-top: 24px;
    padding-left: 32px;
    padding-top: 32px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid #f3d2d2;
    background:#fffbf7;
}




/* mobile responsive */
@media (max-width: 576px) {
    header {
        width: 374px;
        margin: 10px auto;
        padding: 10px;
        box-sizing: border-box;
    }

    .header-left {
        flex: 1;
        justify-content: flex-start;
    }

    .header-left img {
        margin-right: 10px;
    }

    .header-left h2 {
        font-size: 20px;
    }

    span.cl {
        font-size: 20px;
    }

    .header-right {
        flex: 1;
        text-align: right;
    }

    .checkbtn {
        display: block;
        margin-right: 10px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        background-color: #333;
        margin: 0;
        padding: 0;
    }

    .header-right>ul>li {
        display: block;
        margin: 15px 0;
        line-height: 30px;
        color: white;
    }

    li:hover,
    li.active {
        background: none;
        color: #FF5400;
    }

    #check:checked~ul {
        left: 0;
    }

    .banner {
        width: 335px;
        height: 520px;
    }

    .banner-text h2 {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }

    .banner-text p {
        width: 304px;
        margin: 0 auto;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .banner-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        align-items: flex-start;
        gap: 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }

    .input input {
        width: 255px;
        height: 52px;
    }

    .input .btn {
        width: 255px;
        margin-left: -30px;
    }

        .tours {
            width: 375px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 35px;
            margin-bottom: 600px;
        }
        .left {
        width: 375px;
        height: 750px;
        }
        .right img{
        width: 375px;
        height: 342px;
        }

         .choose {
             width: 335px;
             margin: 0 auto;
         }
    
         .choose-text h2 {
             font-size: 28px;
         }
    
         .choose-text p {
             width: 100%;
             margin: 0 auto;
             font-size: 14px;
         }
    
         .choose-img {
             width: 335px;
             margin: 40px auto;
         }
    
         .choose-img .img1 {
             width: 100%;
             margin: 0 auto;
             display: flex;
             flex-direction: column;
         }
         .choose-img .img2 {
             width: 100%;
             margin: 0 auto;
             display: flex;
             flex-direction: column;
         }
         .choose-img .img3 {
             width: 100%;
             margin: 0 auto;
             display: flex;
             flex-direction: column;
         }
    
         .choose-img img {
             mask-image: linear-gradient(0deg, #c8c8c9 0%, #c8c8c9 100%);
         }
        .choose-img .sri{
        position: absolute;
            bottom: 80px;
            left: 40%;
            color: wheat;
            color: #FFF;
            font-size: 20px;
            font-weight: 800;
        }
         .choose-img p,
         .choose-img .ind,
         .choose-img .bd{
             position: absolute;
             bottom: 60px;
             left: 40%;
             color: wheat;
             color: #FFF;
             font-size: 20px;
             font-weight: 800;
         }
         .choose-img .na{
        position: absolute;
            bottom: 60px;
            left: 30%;
            color: wheat;
            color: #FFF;
            font-size: 20px;
            font-weight: 800;
         }
        .choose-img .kas{
        position: absolute;
            bottom: 120px;
            left: 40%;
            color: wheat;
            color: #FFF;
            font-size: 20px;
            font-weight: 800;
        }
        .choose-img .ban{
            position: absolute;
                bottom: 50px;
                left: 35%;
                color: wheat;
                color: #FFF;
                font-size: 20px;
                font-weight: 800;
        }
    
         .choose-img .img1 img {
             width: 100%;
         }
    
         .choose-img .img2,
         .choose-img .img3 {
             width: 100%;
             margin: 0 auto;
             display: flex;
             justify-content: space-between;
             margin-bottom: 30px;
         }
    
         .choose-img .img2 .img21 img,
         .choose-img .img2 .img22 img,
         .choose-img .img2 .img23 img,
         .choose-img .img3 .img31 img,
         .choose-img .img3 .img32 img {
             width: 100%;
             height: auto;
             margin-bottom: 10px;
         }

    .why{
        width: 335px;
    }
    .why-flex .flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
       
    }
    .why-flex .flex .flex1{
        width: 335px;
        height: 289px;
    }
    .why-flex .flex .flex2{
        width: 335px;
    }
   .why-flex .flex-b{
       width: 380px;
   }
   .why-flex .flex-b .flex3 {
       padding-left: 32px;
       padding-top: 32px;
       width: 573px;
       height: 284px;
   }
   .why-text{
    width: 335px;
    margin: 0 auto;
   }
   .why-text p{
    width: 335px;
    margin: 0 auto;
    padding-bottom: 30px;
   }
}